.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects_list_table {
  /* border: 1px solid black;
  border-collapse: collapse; */
  text-align: center;
}

#projects_list_table td, #projects_list_table th {
  padding: 7px;
}

.fa {
  margin: 0px 5px;
  padding: 20px;
}