.containerSuperAdmin {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20%;
  margin-right: auto;
}

.containerSuperAdmin h2 {
  color: #373867;
}

.buttonDiv {
  margin-right: auto;
}
.searchDiv {
  margin-left: auto;
}
