.loadingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20%;
  margin-left: 30%;
}

.containerSuperAdmin {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 10%;
  padding-right: 20%;
  margin-right: auto;
}

.containerSuperAdmin h2 {
  color: #373867;
}

.btnSearchDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
