td {
  padding: 20px 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.button {
  text-decoration: none;
  padding: 5px 8px;
  margin: 0 10px;
  border: 1px solid #181818;
  border-radius: 5px;
  color: #181818;
  background-color: #F0F4F9;
  font-size: 18px;
}
.button:hover {
  color: #181818;
  background-color: #FFFFFF;
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}