td {
  padding: 10px 5px;
}
.button {
  text-decoration: none;
  padding: 5px 8px;
  margin: 0 10px;
  border: 1px solid #181818;
  border-radius: 5px;
  color: #181818;
  background-color: rgb(187, 185, 185);
  font-size: 18px;
}

.button:hover {
  color: #181818;
  background-color: #FFFFFF;
  transform: scale(1.1);
}