.routesContainer {
  width: 100%;
}

.menu {
  font-weight: bold;
  border-bottom: 5px solid #373867;
  width: 35%;
}

.links {
  text-decoration: none;
  color: #373867;
}

.items {
  border-bottom: 1px solid #373867;
  padding-bottom: 3px;
  margin: 8px 0;
}

.routes {
  list-style-type: none;
  text-decoration: none;
  text-transform: capitalize;
}