.menu {
  font-weight: bold;
  border-bottom: 5px solid #373867;
  padding: 1% 0px;
  width: 35%;
}

.links {
  text-decoration: none;
  color: #373867;
}

.items {
  padding: 1% 0px;
  border-bottom: 1px solid #373867;
  width: 90%;
}

.routes {
  list-style-type: none;
  align-items: start;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0 0;
  padding: 10px 0px;
}