.container {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
}
.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
}
.employee {
  display: flex;
  justify-content: space-around;
}
.select{
  display: flex;
  flex-direction: column;
}
.table {
  width: 80%;
}
