.input {
  background: #fff;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Project_container {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
