.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*.Project_container__172WG {
  flex: 1 1;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/
/*form {
  display: block;
  margin-top: 0em;
  margin-left: 30%;
}*/
.Dropdown-root {
  width: 10%;
  position: relative;
}
