.container {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 50px;
}
.h2 {
  color: #373867;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects {
  align-self: center;
}

.employeeDiv {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 15px 20px 15px;
}
.addEmployeeDiv {
  margin: 0px 0 10px 0;
}

.employeeUl {
  margin: 0 0 1% 0;
}

.employeeMargin {
  margin: 0px 20px;
}

.errorArray {
  color: #ff0000;
  margin: 3px 0 1% 0;
  font-size: 13px;
  height: 14px;
}
