.container {
  margin: 6% auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.changePasswordButton {
  margin-bottom: 15px;
}

.security {
  font-weight: bold;
  color: #373867;
  margin: 0 0 10px 0;
}