.container {
  margin: 6% auto;
}

.form {
  display: flex;
  flex-direction: column;
}


.changePasswordButton {
  margin-bottom: 15px;
}

.subtitle {
  font-size: 30px;
  font-weight: bold;
  color: #373867;
  margin: 0 0 10px 0;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 15px;
}