.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 28px;
  color: #373867;
  font-size: 1.5em;
  font-weight: bold;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employeeDiv {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.employeeDiv div {
  margin-right: 8px;
}

.addEmployeeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0 10px 0;
}

.deleteButton {
  margin-bottom: 9px;
}

.errorArray {
  color: #ff0000;
  margin: 20px 0 24px 0;
  font-size: 14px;
}