.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 1920px;
  height: 70px;
  padding: 0 31px 0 20px;
  background-color: #373867;
  z-index: 20;
}

.buttonLogo {
  height: 100%;
  display: flex;
  align-items: center;
}

.button {
  display: block;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.logoImg {
  height: 87%;
}

.linkContainer {
  text-decoration: none;
}

.userButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  height: 25px;
  margin: 10px 0;
}

.userName {
  font-size: 20px;
  color: #ffffff;
  margin-right: 5px;
}

.text {
  font-size: 14px;
  color: #ffffff;
}

.profileImage {
  height: 50px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: #373867;
  border-radius: 9px;
  padding: 8px 12px 18px 12px;
  box-shadow: 2px 2px 55px -2px rgba(0, 0, 0, 0.75);
  transition: all 0.2s ease-in-out;
  animation: fadeIn 5s;
}


.modalClosed {
  right: -300px;
  top: 0;
}

.modalOpened {
  right: 27px;
  top: 10px;
  animation: fadeIn 5s;
}

.closeModal {
  color: #fff;
  width: 100%;
  text-align: right;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.closeModal:hover {
  color: #aace9b;
}

.modalImage {
  margin-bottom: 12px;
}

.modalText {
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin-bottom: 12px;
}

.modalText.role {
  font-size: 12px;
  font-weight: 400;
}

.modalButton {
  width: 100%;
  background: #aace9b;
  border-radius: 5px;
  border: 0;
  padding: 10px 26px;
  color: #444688;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.modalButton:hover {
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.75) inset;
}

.editButton {
  margin-bottom: 14px;
}

@media (min-width: 768px) {
  .header {
    padding: 0 40px;
  }

  .button {
    display: none;
  }

  .logo {
    margin-left: 0;
  }

  .profile {
    margin-right: 25px;
  }

  .security {
    margin-left: 25px;
    margin-top: 0px;
  }
}