.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 1920px;
  height: 70px;
  padding: 0 0px;
  background-color: #373867;
}

.buttonLogo {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 12px;
}

.rocket {
  margin-bottom: 3px;
}

.linkContainer {
  text-decoration: none;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.userButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  height: 25px;
  margin: 10px 0;
}

.userName {
  font-size: 20px;
  color: #ffffff;
  margin-right: 5px;
}

.text {
  font-size: 14px;
  color: #ffffff;
}

@media (min-width: 760px) {
  .header {
    height: 110px;
    padding: 0 40px;
  }

  .profile {
    margin-right: 25px;
  }

  .security {
    margin-left: 25px;
    margin-top: 0px;
  }
}