.container {
  height: fit-content;
  margin: 0 auto;
  text-align: center;
  border: 5px solid #373867;
  border-radius: 10px;
  padding: 50px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  margin: 10px;
}

.title {
  margin-bottom: 28px;
  color: #373867;
  font-size: 1.5em;
  font-weight: bold;
}