td {
  padding: 10px 5px;
}
.btn {
  padding: 5px 8px;
  margin: 0 10px;
  border: 1px solid #181818;
  border-radius: 5px;
  color: #181818;
  background-color: #f0f4f9;
  font-size: 18px;
  text-decoration: none;
}
.btn:hover {
  background-color: #FFFFFF;
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}
