.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 28px;
  color: #373867;
  font-size: 1.5em;
  font-weight: bold;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.input {
  width: 100%;
}

.select {
  width: 260px;
}

.taskUl {
  padding: 0;
  list-style: none;
}

.li {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  align-items: center;
  border: 3px solid #373867;
  border-radius: 6px;
  padding: 10px 8px;
}