.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container form {
  display: flex;
  padding: 30px;
  flex-direction: column;
  margin-bottom: 25px;
}

.title {
  color: #373867;
}

.input {
  width: 100%;
}

.select {
  width: 260px;
}

.buttonDiv {
  padding: 20px;
  text-align: center;
}

.taskUl {
  padding: 0;
  list-style: none;
}

.li {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  align-items: center;
}