.containerTask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  margin-bottom: 7%;
}

.loadingScreen {
  margin: auto;
  padding: 20%;
}

.search {
  margin-left: auto;
}

.h2Task {
  font-size: 30px;
  color: #373867;
}

.btnTask a {
  text-decoration: none;
}
.btnTask {
  padding-bottom: 3%;
  margin-right: auto;
}
