.Flatsearch {
  max-height: 34px;
  max-width: 242;
  align-items: center;
  background: #fff;
  border: 1px solid #373867;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 9px 5px;
  color: #373867;
  transition: all 0.5s ease 0s;
}

.Flatsearch button,
.Flatsearch input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  padding-left: 9px;
  margin: 12px 0px;
  border: 0;
  color: inherit;
  font: inherit;
  outline: 0;
}

.Flatsearch button {
  padding-right: 14px;
}
