.container {
  width: 72%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container a {
  text-decoration: none;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin-left: 40%;
}

.addEmployee {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.title {
  color: #373867;
  font-size: 30px;
}
