.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
}

.mainDiv {
  display: flex;
  flex-wrap: wrap;
}

.divSideBar {
  display: flex;
  flex-wrap: wrap;
  min-width: 15%;
  width: 25%;
}

.divSwitch {
  margin-top: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin-bottom: 5%;
}