.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainDiv {
  display: flex;
  flex-wrap: wrap;
}
.divSideBar {
  display: flex;
  flex-wrap: wrap;
  min-width: 15%;
  width: 25%;
}

.divSwitch {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin-bottom: 5%;
}
