.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainDiv {
  display: flex;
  flex-wrap: wrap;
}
<<<<<<< HEAD

=======
>>>>>>> origin/master
.divSideBar {
  display: flex;
  flex-wrap: wrap;
  min-width: 15%;
  width: 25%;
}

<<<<<<< HEAD
.divSwitch {
=======
.divSwitch{
  margin-top: 6%;
>>>>>>> origin/master
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin-top: 6%;
}
