.tableMain {
  width: 100%;
  margin: 40px 25px;
  border: 1px solid #bebec8;
  border-radius: 5px;
  border-spacing: 0px;
  table-layout: auto;
  border-collapse: collapse;
}

.containerTable tr,
.tableMain tr {
  text-align: left;
  color: #373867;
  border-radius: 20px;
}

.containerTable td {
  padding: 10px 8px;
  border-bottom: 1px solid #bebec8;
}

.headTable,
.tableMain th {
  padding: 12px;
  background-color: #d9dbe2;
}

.containerTable svg {
  fill: #373867;
  width: 20px;
  height: 20px;
  margin: 0px 0px 0px 8px;
}

.tableMain tbody tr:hover {
  background: #eef5eb;
}

.buttonTable:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.containerTable a,
.containerTable button {
  text-align: center;
  background: none;
  border: 0;
  text-decoration: none;
}
