.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15%;
}

.container form {
  display: flex;
  padding: 30px;
  flex-direction: column;
  margin-bottom: 13%;
}

.container h2 {
  margin-bottom: 1px;
  margin-left: 25px;
}

.container input {
  padding: 3px 20px;
  margin: 5px;
  width: 118%;
  font-size: 16px;
  text-align: center;
}

.container select {
  padding: 3px 40px;
  margin: 5px;
  width: 96%;
  font-size: 16px;
  text-align: center;
}
.label {
  font-size: 16px;
  color: #373867;
  font-weight: 500;
}
