.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 10% 0% 0%;
}

.container h2 {
  padding: 0% 12% 0% 10%;
  color: #373867;
}

.container form {
  display: flex;
  padding: 30px;
  flex-direction: column;
  margin-bottom: 13%;
}

.input {
  width: 100%;
}
.select {
  width: 260px;
}

.container h2 {
  margin-bottom: 1px;
  margin-left: 25px;
}
.buttonDiv {
  padding: 20px;
  text-align: center;
}
.taskUl {
  padding: 0;
  list-style: none;
}
.li {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  align-items: center;
}
