.buttonContainer {
  margin-top: 5px;
  width: 22px;
  height: 24px;
  cursor: pointer;
}

.buttonLine {
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  border-radius: 1px;
  background-color: #aace9b;
  transition: all 0.2s ease-in-out;
}

.isMenuOpen .top {
  transform: translateY(7px) rotate(45deg);
}

.isMenuOpen .mid {
  opacity: 0
}

.isMenuOpen .bot {
  transform: translateY(-7px) rotate(-45deg);
}