.container {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  width: 75%;
  height: 12%;
  margin: 0% 0% 0% 25%;
}
.greenLine {
  width: 80%;
  border-top: 8px solid #aace9b;
  border-radius: 5px;
}
.content {
  display: flex;
  flex-direction: row;
}
.footerText {
  display: flex;
  flex-direction: column;
  float: right;
  padding-top: 0.5%;
  width: 70%;
}
.footerText p {
  width: 80%;
  color: #000;
  float: right;
  margin: 0% 0% 0% 90%;
}
.p1 {
  padding: 0% 0% 0% 42.5%;
}
.p2 {
  padding: 0% 0% 0% 9%;
}
.rowLinks {
  background-color: #ffff;
  padding-top: 1%;
  width: 40%;
}
.rowLinks a {
  padding: 3%;
}

/*.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  width: 90%;
  height: 250px;
}

.appName {
  font-size: 2rem;
  font-weight: bold;
  color: #FFF;
}

.rutes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
}

.rutes > li > a {
  margin-left: 15px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: #FFF;
}

.license {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 90%;
  padding: 0 20px;
  background-color: #EA3354;
}

.copyright {
  font-size: 0.7rem;
  font-style: italic;
}

.socialIcon {
  margin-left: 5px;
}

@media screen and (min-width: 750px) {
  .main {
    padding: 0 20%;
    width: unset;
  }

  .license {
    padding: 0 20px;
    width: calc(60% - 40px);
  }

  .socialIcon {
    margin-left: 15px;
  }
}*/
