.container {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  width: 75%;
  height: 12%;
  margin: 0% 0% 0% 25%;
}
.greenLine {
  width: 80%;
  border-top: 8px solid #aace9b;
  border-radius: 5px;
}
.content {
  display: flex;
  flex-direction: row;
}
.footerText {
  display: flex;
  flex-direction: column;
  float: right;
  padding-top: 0.5%;
  width: 70%;
}
.footerText p {
  width: 80%;
  color: #000;
  float: right;
  margin: 0% 0% 0% 90%;
}
.p1 {
  padding: 0% 0% 0% 42.5%;
}
.p2 {
  padding: 0% 0% 0% 9%;
}
.rowLinks {
  background-color: #ffff;
  padding-top: 1%;
  width: 40%;
}
.rowLinks a {
  padding: 3%;
}
