.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #373867;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  margin: 10px;
}

.containerSec {
  margin: 6% auto;
  text-align: center;
}

.formTitle {
  font-weight: bold;
  color: #373867;
}